* {
    box-sizing: border-box;
}

@font-face {
    font-family: bartle;
    src: url(fonts/BBH_Bartle/BBHBartle-Regular.ttf)
}

@font-face {
    font-family: hammer;
    src: url(fonts/Hammersmith_One/HammersmithOne-Regular.ttf)
}

@font-face {
    font-family: cal;
    src: url(fonts/Cal_Sans/CalSans-Regular.ttf)
}

@font-face {
    font-family: DM;
    src: url(fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf)
}

@font-face {
    font-family: fig;
    src: url(fonts/Figtree/Figtree-VariableFont_wght.ttf)
}

@font-face {
    font-family: onest;
    src: url(fonts/Onest/Onest-VariableFont_wght.ttf)
}

html {
    overscroll-behavior: none;
    overflow-x: hidden;
}

h1 {
    font-family: cal, 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 25px;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

h2 {
    font-family: fig, 'Courier New', Courier, monospace;
    font-size: 25px;
}

#name-bar {
    display: flex;
}

#bar {
    background-color: rgb(213, 213, 213);
    padding: 3%;
    margin-bottom: 6px;
}

#label {
    font-family: hammer, 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: 20px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#landing-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5%;
}

#digital-gallery, #trad-gallery {
    column-count: 3;
    column-gap: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

#digital-gallery img, #trad-gallery img {
    width: 100%;
    margin-bottom: 0%;
}

.name-button {
    text-decoration: none;
    color: black;
}

.button {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: flex-end;
}
.button:hover {
    color: brown;
}