* {
    box-sizing: border-box;
}

@font-face {
    font-family: bartle;
    src: url(fonts/BBH_Bartle/BBHBartle-Regular.ttf)
}

@font-face {
    font-family: hammer;
    src: url(fonts/Hammersmith_One/HammersmithOne-Regular.ttf)
}

@font-face {
    font-family: cal;
    src: url(fonts/Cal_Sans/CalSans-Regular.ttf)
}

@font-face {
    font-family: DM;
    src: url(fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf)
}

@font-face {
    font-family: fig;
    src: url(fonts/Figtree/Figtree-VariableFont_wght.ttf)
}

@font-face {
    font-family: onest;
    src: url(fonts/Onest/Onest-VariableFont_wght.ttf)
}

html {
    overscroll-behavior: none;
    overflow-x: hidden;
}

h1 {
    font-family: cal, 'Courier New', Courier, monospace;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

h2 {
    font-family: fig, 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-bottom: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
}

/* Landing Image */
#hero {
    background-image: url(images/noborder-Archway.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

#landing-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 6px;
}

/*#bar {
    background-color: black;
    padding: 20px;
}*/

/* Header */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: aliceblue;
    margin-bottom: 0px;
    margin-left: 40px;
    user-select: none;
}

/* Name Button */
.name-button {
    text-decoration: none;
    color: aliceblue;
    -webkit-user-drag: none;
}

.name-button:hover {
    cursor: pointer;
}

/* 'Concept Art / Illustration' */
#label {
    font-family: hammer, 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 0px;
    color: aliceblue;
    gap: 0px;
    margin-left: 40px;
    user-select: none;
}

#label:hover {
    cursor: default;
}

/* About Button */
.button {
    text-decoration: none;
    color: aliceblue;
    margin-right: 40px;
    -webkit-user-drag: none;
}

.button:hover {
    color: brown;
    cursor: pointer;
}

/* About Page */
#text {
    font-family: onest, 'Courier New', Courier, monospace;
    background-color: lightgrey;
    padding: 40px;
    margin-top: 30px;
}

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#social-media img {
    width: 30%;
}

/* Gallery */
#digital-gallery {
    column-count: 3;
    column-gap: 10px;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#digital-gallery img,
#value-gallery img,
#trad-gallery img {
    width: 100%;
    margin-bottom: 6px;
    user-select: none;
    -webkit-user-drag: none;
}

#digital-gallery img:hover,
#value-gallery img:hover,
#trad-gallery img:hover {
    filter: brightness(70%);
    cursor: pointer;
}

#value-gallery {
    column-count: 3;
    column-gap: 10px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#trad-gallery {
    column-count: 3;
    column-gap: 10px;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* Image Modal*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup span { /* 'x' button */
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    z-index: 1000;
    user-select: none;
}

.popup span:hover {
    color: brown;
    cursor: pointer;
}

.popup img {
    position: relative;
    object-fit: contain;
    width: 920px;
    height: auto;
    max-height: 100vh;
    
    user-select: none;
    overflow: hidden;
    -webkit-user-drag: none;
}

#footer {
    font-family: onest, 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    color: rgb(21, 21, 21);
    background-color: rgb(50, 50, 50);
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 50px;
}


@media only screen and (max-width: 750px) {

    #digital-gallery,
    #value-gallery,
    #trad-gallery {
        column-count: 2;
    }

    #digital-gallery img,
    #value-gallery img,
    #trad-gallery img {
        width: 100%;
        margin-bottom: 6px;
    }

    .popup img {
        width: 90%;

    }

}

@media only screen and (max-width: 1000px) {

    .name-button {
        text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);

    }

    #label {
        text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.6);
    }

    .button {
        text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    }

}