* {
    box-sizing: border-box;
}

@font-face {
    font-family: bartle;
    src: url(fonts/BBH_Bartle/BBHBartle-Regular.ttf)
}

@font-face {
    font-family: hammer;
    src: url(fonts/Hammersmith_One/HammersmithOne-Regular.ttf)
}

@font-face {
    font-family: cal;
    src: url(fonts/Cal_Sans/CalSans-Regular.ttf)
}

@font-face {
    font-family: DM;
    src: url(fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf)
}

@font-face {
    font-family: fig;
    src: url(fonts/Figtree/Figtree-VariableFont_wght.ttf)
}

@font-face {
    font-family: onest;
    src: url(fonts/Onest/Onest-VariableFont_wght.ttf)
}

html {
    overscroll-behavior: none;
    overflow-x: hidden;
}

h1 {
    font-family: cal, 'Courier New', Courier, monospace;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

h2 {
    font-family: fig, 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-bottom: 10px;
}

#text {
    background-color: lightgrey;
    padding: 30px;
    margin-top: 30px;
}

#name-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: aliceblue;
    margin-bottom: 0px;
    margin-left: 30px;
}

#hero {
    background-image: url(images/notopsides-Archway.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

#label {
    font-family: hammer, 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 0px;
    color: aliceblue;
    gap: 0px;
    margin-left: 30px;
}

#label:hover {
    cursor: default;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
}

#landing-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 6px;
}

#digital-gallery {
    column-count: 3;
    column-gap: 10px;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    padding-bottom: 0px;
}

#digital-gallery img,
#value-gallery img,
#trad-gallery img {
    width: 100%;
    margin-bottom: 6px;
}

#digital-gallery img:hover,
#value-gallery img:hover,
#trad-gallery img:hover {
    filter: brightness(70%);
    cursor: pointer;
}

#value-gallery {
    column-count: 3;
    column-gap: 10px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

#trad-gallery {
    column-count: 3;
    column-gap: 10px;
    background-color: rgb(50, 50, 50);
    padding: 10px;
}

/*#bar {
    background-color: rgb(0, 0, 0);
    padding: 40px;
}*/

.name-button {
    text-decoration: none;
    color: aliceblue;
}

.name-button:hover {
    cursor: pointer;
}

.button {
    text-decoration: none;
    color: aliceblue;
    margin-right: 30px;
}

.button:hover {
    color: brown;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {

    #digital-gallery,
    #value-gallery,
    #trad-gallery {
        column-count: 2;
    }

    #digital-gallery img,
    #value-gallery img,
    #trad-gallery img {
        width: 100%;
        margin-bottom: 2px;
    }

    .name-button {
        text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);

    }

    #label {
        text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.6);
    }

    .button {
        text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    }

}